---
import SiteLayout from "../../layouts/SiteLayout.astro";
import TableOfContents from "../../components/TableOfContents";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
    let allBlogPaths: any[] = [];
    const allBlogPosts = await getCollection('blog');

    allBlogPosts.map((blogPost) => {
        allBlogPaths = [...allBlogPaths, {params: {slug: blogPost.slug}}]
    });

    return allBlogPaths;
}

const { slug } = Astro.params
const blogPost = await getEntry('blog', slug)
const { Content, headings } = await blogPost!.render()
---
<SiteLayout title={`Akash N P | ${blogPost?.data.title}`}>
    <div class="flex gap-16">
        <Content />
        <TableOfContents headings={headings}/>
    </div>
</SiteLayout>