---
import SiteLayout from "../../layouts/SiteLayout.astro";
import TableOfContents from "../../components/TableOfContents";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
    let allBlogPaths: any[] = [];
    const allBlogPosts = await getCollection('blog');

    allBlogPosts.map((blogPost) => {
        allBlogPaths = [...allBlogPaths, {params: {slug: blogPost.slug}}]
    });

    return allBlogPaths;
}

const { slug } = Astro.params
const blogPost = await getEntry('blog', slug)
const { Content, headings } = await blogPost!.render()
---
<SiteLayout
    title={`Akash N P | ${blogPost?.data.title}`}
    slug={blogPost?.slug}
    shortDescription='Learn how to implement SSE and build a chat app with streaming response like ChatGPT'
>
    <div class="lg:flex gap-16">
        <Content />
        <TableOfContents headings={headings}/>
    </div>
    <a class="lg:hidden p-2 sticky h-10 w-10 bottom-8 left-[calc(100vw-20px)] flex" href="#contents" >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="currentColor">
            <path d="m14.829 11.948l1.414-1.414L12 6.29l-4.243 4.243l1.415 1.414L11 10.12v7.537h2V10.12z"/>
            <path fill-rule="evenodd" d="M19.778 4.222c-4.296-4.296-11.26-4.296-15.556 0c-4.296 4.296-4.296 11.26 0 15.556c4.296 4.296 11.26 4.296 15.556 0c4.296-4.296 4.296-11.26 0-15.556m-1.414 1.414A9 9 0 1 0 5.636 18.364A9 9 0 0 0 18.364 5.636" clip-rule="evenodd"/>
            </g>
        </svg>
    </a>
</SiteLayout>