.card {
    background-color: rgba(255, 255, 255, 0.02);
    height: 240px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    cursor: pointer;
    position: relative;
}

.card:hover::before {
    opacity: 1;
}

.card::before {
    background: radial-gradient(
        700px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%
    );
    border-radius: inherit;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0;
    transition: opacity 500ms;
}

abbr[title] {
    position: relative;
    text-decoration: none;
}

.blog-abbr:hover::after {
    background: #262626;
    font-size: 0.75rem;
    border-radius: 4px;
    bottom: -2.5rem;
    content: attr(title);
    display: block;
    left: -1.5rem;
    padding: 0.25em;
    width: max-content;
    position: absolute;    
    z-index: 1;
}

.contact-abbr:hover::after {
    background: #262626;
    font-size: 0.75rem;
    border-radius: 4px;
    bottom: -2.5rem;
    content: attr(title);
    display: block;
    left: -0.75rem;
    padding: 0.25em;
    width: max-content;
    position: absolute;    
    z-index: 1;
}

@keyframes scale-down-on-scroll {
    from {
      font-size: 3em;
      transform: translateY(0);
    }
    to {
      font-size: 2.5em;
      transform: translateY(20%);
    }
  }
  

.selector {
    animation: scale-down-on-scroll 0.5s ease-out ;
    animation-timeline: scroll();
    animation-range: 0px 300px;
}