---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Akash NP</title>
	</head>
	<body class="bg-slate-200 grid place-items-center h-screen">
		<div class="text-center">
			<div>
				<h1 class="text-6xl font-bold mb-5">Akash NP</h1>
				<h3 class="text-xl"><span class="italic">Aspiring</span> Full Stack Developer</h3>
			</div>
			<div class="my-10">
				<p>This site is a work in progress :). Being built with Astro 🚀❤️</p>
				<p>
					You can view my projects on my 
					<a class="underline" href="https://github.com/9akashnp8">
						Github Profile
					</a> 
				</p>
			</div>
		</div>
	</body>
</html>
