---
import SiteLayout from "../layouts/SiteLayout.astro";
import ProjectCard from "../components/ProjectCard";
import { Octokit } from "octokit";

const ghToken = import.meta.env.PUBLIC_GH_TOKEN
const octokit = new Octokit({ auth: ghToken })

let allRepoDetails;
await octokit.paginate("GET /user/starred")
	.then((repos) => {
		allRepoDetails = repos.filter((repo) => repo.owner.login === "9akashnp8")
	})
---
<SiteLayout title='Akash NP | Home'>
	<div class="intro | flex">
		<div class="hero">
			<h1 class="text-3xl font-bold mb-3">Akash NP</h1>
			<p>Quality driven Full Stack developer who enjoys learning and building OSS solutions.</p>
		</div>
	</div>
	<div class="projects | mx-auto mb-10 py-8">
		<h2 class="text-xl mb-5">Projects</h2>
		<div class="cards | flex flex-wrap justify-center gap-2">
			{allRepoDetails.map((repo) => {
				return (
					<ProjectCard
						projectTitle={repo.name}
						projectDescription={repo.description}
						projectStack={repo.language}
					/>		
				)
			})}										
		</div>
	</div>
</SiteLayout>
